
.login {
    background-image: url(../img/new_login_bg_strong_mask.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.login-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 10px;
}

.titulo h2 {
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .05rem;
    font-weight: 200;
    margin-bottom: 2rem;
}

.formulario-qr {
    background-color: #181a21;
    max-width: 500px;
    width: 100%;
    border-radius: 4px;
    padding: 2rem 1.5rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
}

.usuario-login label, .codigo-qr label {
    color: #1999ff;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    /* user-select: none; */
}
.usuario-login input, .password-login input {
    border-radius: 2px;
    color: #fff;
    padding: 10px;
    background-color: #32353c;
    outline: none;
    font-size: 15px;
    grid-area: input;
    border: 1px solid #32353c;
    display: block;
    width: 100%;
    margin-top: 2px;
    transition: .2s ease-in;
}
.usuario-login input:hover, .password-login input:hover {
    background-color: #434953;
}

.password-login label {
    color: #afafaf;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
}

.recordarme {
    display: flex;
    gap: .4rem;
    align-items: center;
}
.check-recordarme {
    width: 18px;
    height: 18px;
    /* background-color: #32353c;
    color: #32353c;
    border: none; */
    /* appearance: none; */
}
.check-recordarme:checked {
    color: #fff;
}
.recordarme label {
    color: #afafaf;
    font-size: 12px;
    font-weight: 300;
}

.formulario button {
    font-size: 18px;
    font-weight: 600;
    padding: 12px;
    color: #fff;
    background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    border: 2px;
    cursor: pointer;
    letter-spacing: .05rem;
    transition: .5s ease;
}
.formulario button:hover {
    /* background: linear-gradient(90deg, #5ed7ff 0%, #2D73FF 100%); */
    background: linear-gradient(90deg, #06BFFF 20%, #2D73FF 100%);
}

.formulario span {
    color: #afafaf;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    text-decoration: underline;
    margin-top: 1.5rem;
}
.formulario span a {
    transition: .3s ease;
}
.formulario span a:hover {
    color: hsl(0, 0%, 100%);
}

.datos-incorrectos {
    display: none;
    text-align: center;
    transition: .5s ease-in-out;
}
.datos-incorrectos span {
    color: #c15755;
    text-decoration: none;
    font-weight: 300;
}